<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.learn.mybatis.dao.EmployeeDao">
   <select id="selectCount"  resultType="int">      
    	select count(*) from employee  
   </select> 
   
   <select id="getAllEmployee" resultType="Employee">
   	    select * from employee
   </select>
    <select id="getEmployeeByPage" resultType="Employee">
   	    select * from employee limit #{0},#{1}
   </select>
</mapper>